<div class="dice-slot-game">
    <div id="reel1" class="dice-slot-reel">
        <div class="dice-slot-group" *ngFor="let number of [0,1,2]">
            <div [ngStyle]="slotsAnim1" class="dice-slot" *ngFor="let number of slotNumbers">
                <div class="dice-number">{{number}}</div>
            </div>
        </div>
    </div>
    <div id="reel2" class="dice-slot-reel">
        <div class="dice-slot-group" *ngFor="let number of [0,1,2]">
            <div [ngStyle]="slotsAnim2" class="dice-slot" *ngFor="let number of slotNumbers">
                <div class="dice-number">{{number}}</div>
            </div>
        </div>
    </div>
    <div id="dot">
        .
    </div>
    <div id="reel3" class="dice-slot-reel">
        <div class="dice-slot-group" *ngFor="let number of [0,1,2]">
            <div [ngStyle]="slotsAnim3" class="dice-slot" *ngFor="let number of slotNumbers">
                <div class="dice-number">{{number}}</div>
            </div>
        </div>
    </div>
    <div id="reel4" class="dice-slot-reel">
        <div class="dice-slot-group" *ngFor="let number of [0,1,2]">
            <div [ngStyle]="slotsAnim4" class="dice-slot" *ngFor="let number of slotNumbers">
                <div class="dice-number">{{number}}</div>
            </div>
        </div>
    </div>
    <div class="dice-slot-buttons">
        <button mat-flat-button color="primary" (click)="playGame()">Roll!</button>
    </div>
</div>