.dice-slot-game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "reel1 reel2 dot reel3 reel4"
        "buttons buttons buttons buttons buttons";
    padding-top: 100px;
    padding-left: 400px;
    padding-right: 400px;
    row-gap: 3rem;
    column-gap: 1.5rem;
}

.dice-slot-buttons {
    grid-area: buttons
}

.dice-slot-reel {
    border: 1px;
    border-style: solid;
    padding: 1rem;
    overflow-y: hidden;
    margin: 0 auto;
    height: 30px;
}

.dice-slot {
    font-size: xx-large;
    transform: translateY(-300px);
    transition: transform 1s ease-in-out;
}

.dice-number {
    height: 30px;
    line-height: 30px;
}

#dot {
    font-size: xx-large;
    padding: 1rem;
    overflow-y: hidden;
    margin: 0 auto;
    margin-left: 10px;
    height: 30px;
}

@media only screen and (max-width: 550px) {
    .dice-slot-game {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
            "column1 column2 dot column3 column4"
            "buttons buttons buttons buttons buttons";
        padding-top: 100px;
        padding-left: 0rem;
        padding-right: 400px;
        row-gap: 3rem;
        column-gap: 1rem;
        text-align: center;
    }
}