.container {
    display: grid;
    margin-left: 5rem;
    margin-right: 5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "input games";
    min-height: 40vh;
}

app-toolbar {
    min-height: 10vh;
}

app-game-input {
    grid-area: input;
}

app-game-nav {
    grid-area: games;
}

app-game-result {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 550px) {
    .container {
        display: grid;
        margin-left: 0rem;
        margin-right: 0rem;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "input"
            "games";
        min-height: 40vh;
    }

    app-game-nav {
        white-space: nowrap;
        overflow: auto;
    }
}